@import 'tailwindcss';
@plugin "daisyui" {
    themes: black --default;
}
@plugin "daisyui/theme" {
    name: 'black';
    default: true;
    --color-primary: rgb(29, 155, 240);
    --color-secondary: rgb(24, 24, 24);
}
